/* From Uiverse.io by andrew-demchenk0 */ 
.buttonDown {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #791717;
  background-color: #992020;
  overflow: hidden;
  border-radius: 7px;
}

.buttonDown, .button__icon, .button__text {
  transition: all 0.3s;
}

.buttonDown .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.buttonDown .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #791717;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonDown .svg {
  width: 20px;
  fill: #fff;
}

.buttonDown:hover {
  background: #791717;;
}

.buttonDown:hover .button__text {
  color: transparent;
}

.buttonDown:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.buttonDown:active .button__icon {
  background-color: #791717;;
}

.buttonDown:active {
  border: 1px solid #791717;;
}